:root {
  --bg-accent-secondary: #444444;
  --bg-accent: #FFE17F;
  --bg-accent-bright: #FFC700;
  --bg-main-secondary-pale: #EBEBEB;
  --bg-main-secondary: #F0F0F0;
  --bg-main: #FFFFFF;
  --color-main: #000000;
  --color-accent: #FFFFFF;
  --color-secondary: #444444;
  --font-default: "Rubik", sans-serif;
  --font-heading: "Raleway", sans-serif;

  --font-size_main: 18px;
  --line-height_main: 30px;
  --font-weight_main: 400;
  --line-height_main_uppercase: 21px;

  --font-size_main_heading: 50px;
  --line-height_main_heading: 50px;
  --font-weight_main_heading: 800;


  --line-height_ui: 20px;
  --font-size_ui: 16px;

  --font-size_secondary: 16px;
  --line-height_secondary: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  color: var(--color-main);
  font-family: var(--font-default);
  font-size: var(--font-size_main);
  font-weight: var(--font-weight_main);
  line-height: var(--line-height_main);
}

.catalog {
  background-color: var(--bg-main-secondary);
}

.catalog-listing__wrapper {
  background-color: var(--bg-main);
}

.catalog-listing {
  list-style: none;
}

main {
  background-color: var(--bg-main-secondary);
}

.doc__about-us {
  background: var(--bg-main);
}

.doc-header {
  background: linear-gradient(0, var(--bg-accent), var(--bg-accent)) no-repeat 0 40px;
  background-size: 100% 300px;
}

/*header*/
/*search-string*/
.search-string {
  font-size: var(--font-size_ui);
  line-height: var(--line-height_ui);
}

.search-string__input-wrapper::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/search.svg");
  background-size: cover;
}

.search-string__input,
.search-string__input::placeholder,
.search-string__submit {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.search-string__submit {
  text-align: center;
}

/*nav-lists*/
.nav-list__link {
  font-size: inherit;
  letter-spacing: 0.2em;
  line-height: var(--line-height_main_uppercase);
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: 800;
  color: inherit;
  text-decoration: none;
}

.nav-catalog__link:visited,
.nav-catalog__link {
  font-size: var(--font-size_secondary);
  line-height: var(--line-height_secondary);
  color: inherit;
  text-decoration: none;
}

/*footer*/
.doc-footer {
  background-color: var(--bg-accent-secondary);
  color: var(--color-accent);
  font-size: 16px;
  line-height: 20px;
}

.doc-footer::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: var(--bg-accent-bright);
}

.inner-section-menu {
  padding: 0;
  list-style: none;
}

.inner-section-menu__anchor {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.social-menu {
  list-style: none;
}

.social-icon {
  --bg: "#";
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  width: 40px;
  height: 40px;
}

.doc-vendor__logo {
  width: 114.9px;
  height: 32.9px;
  background-image: url("../images/content/shop/htmlacademy.svg");
  display: inline-block;
}


