:root {
  --bg-accent-secondary: #444444;
  --bg-accent: #FFE17F;
  --bg-accent-bright: #FFC700;
  --bg-main-secondary: #F0F0F0;
  --bg-main: #FFFFFF;
  --color-main: #000000;
  --color-accent: #FFFFFF;
  --color-secondary: #444444;
  --font-default: "Rubik", sans-serif;
  --font-heading: "Raleway", sans-serif;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: var(--font-default);
  font-size: 18px;
  line-height: 30px;
}

.catalog {
  background-color: var(--bg-main-secondary);
}

.catalog-listing__wrapper {
  background-color: var(--bg-main);
}

.catalog-listing {
  list-style: none;
}
