/*FONTS DEF*/
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/*DOCUMENT COMMONS*/
:root {
  --bg-accent-secondary: #444444;
  --bg-accent: #FFE17F;
  --bg-accent-bright: #FFC700;
  --bg-main-secondary-pale: #EBEBEB;
  --bg-main-secondary: #F0F0F0;
  --bg-main: #FFFFFF;
  --color-main: #000000;
  --color-accent: #FFFFFF;
  --color-secondary: #444444;
  --ui1-gray: #E5E5E5;
  --font-default: "Rubik";
  --font-heading: "Raleway";

  --font-size_main: 18px;
  --line-height_main: 30px;
  --font-weight_main: 400;
  --line-height_main_uppercase: 21px;

  --font-size_main_heading: 50px;
  --line-height_main_heading: 50px;
  --font-weight_main_heading: 800;


  --line-height_ui: 20px;
  --font-size_ui: 16px;

  --font-size_secondary: 16px;
  --line-height_secondary: 18px;

  --width__main-column: 1160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--color-main);
  font-family: var(--font-default), sans-serif;
  font-size: var(--font-size_main);
  font-weight: var(--font-weight_main);
  line-height: var(--line-height_main);
}

.doc-main {
  background-color: var(--bg-main-secondary);
  flex-grow: 1;
  min-width: var(--width__main-column);
}

.doc__about-us {
  background: var(--bg-main);
}

.doc-header {
  background: linear-gradient(0, var(--bg-accent), var(--bg-accent)) no-repeat 0 40px;
  background-size: 100% 300px;
  width: var(--width__main-column);
  margin: 0 auto;
}

/*header*/
.control-panel .compare-btn {
  margin-right: 36px;
}

.control-panel .string-btn {
  padding: 5px 0;
}

.control-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.control-panel > *:not(:last-child) {
  margin-right: 26px;
}

.doc-header__main-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 25px;
}

.doc-header__doc-logo {
  margin-bottom: 30px;
}

/*search-string*/
.search-string {
  font-size: var(--font-size_ui);
  line-height: var(--line-height_ui);
  position: relative;
  display: flex;
  width: 517px;
}

.search-string__input-wrapper {
  display: inline-block;
}

.search-string__input-wrapper::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/search.svg");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.search-string__input {
  padding: 8px 46px;
  box-sizing: border-box;
  width: 359px;
}

.search-string__input,
.search-string__input::placeholder,
.search-string__submit {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.search-string__submit {
  width: 160px;
  box-sizing: border-box;
}

.search-string__submit {
  text-align: center;
}

/*nav-lists*/
.doc-nav {
  position: relative;
}

.doc-nav__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.doc-nav__nav-list li:first-child {
  margin-right: auto;
}

.doc-nav__nav-list,
.doc-nav_nav-nested {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item:not(:last-child) {
  margin-right: 45px;
}

.nav-list__item:first-child {
  padding-right: 57px;
}

.nav-list__item .btn-toggle-hidden {
  position: absolute;
  right: 0;
  z-index: 100;
}

.nav-list__item {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list__item:hover .doc-nav_nav-nested {
  padding: 30px 60px;
  height: auto;
}

.doc-nav_nav-nested {
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: -60px;
  background: var(--bg-accent);
  width: var(--width__main-column);
}

.nav-nested__item:nth-last-child(1) {
  grid-column: 1 / -1;
}

.nav-nested__item:nth-last-child(2) {
  grid-column: 2 / -1;
}

.nav-list__link {
  font-size: inherit;
  letter-spacing: 0.2em;
  line-height: var(--line-height_main_uppercase);
  text-transform: uppercase;
  font-family: var(--font-heading), sans-serif;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  padding: 15px 0;
}

.nav-nested__link:visited,
.nav-nested__link {
  font-size: var(--font-size_secondary);
  line-height: var(--line-height_secondary);
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
}

/*footer*/
.doc-footer {
  background-color: var(--bg-accent-secondary);
  color: var(--color-accent);
  font-size: 16px;
  line-height: 20px;
  padding: 60px 0;
  min-width: var(--width__main-column);
}

.doc-footer__wrapper {
  width: var(--width__main-column);
  margin: 0 auto;
}

.doc-footer__doc-logo {
  margin-bottom: 35px;
}

.doc-footer__wrapper-row:nth-child(2) {
  margin-bottom: 50px;
}

.doc-footer__wrapper-row:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: var(--bg-accent-bright);
}

.doc-footer__wrapper-row .address-location {
  max-width: 239px;
}

.doc-footer__wrapper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-section-menu {
  padding: 0;
  list-style: none;
  gap: 35px;
  margin: 0 auto 0 119px;
}

.doc-footer .inner-section-menu__anchor {
  padding: 10px 0;
}

.inner-section-menu__anchor {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-heading), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.inner-section-menu, .social-menu {
  display: flex;
}

.social-menu {
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0 auto 0 424px;
}

.social-icon {
  --bg: "#";
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.doc-vendor__logo {
  width: 114.9px;
  height: 32.9px;
  background-image: url("../images/content/shop/htmlacademy.svg");
  display: inline-block;
}

/*REUSED COMPONENTS*/
/*buttons*/
.doc-logo {
  background: url("../images/content/shop/logo.svg");
  display: inline-block;
  width: 145px;
  height: 36px;
}

.string-btn {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.logout-btn {
  opacity: 0.3;
}

.string-btn::before {
  display: inline-block;
}

.profile-btn::before,
.login-btn::before {
  content: "";
  background-image: url(../images/icons/login.svg);
  background-size: 100% 100%;
  width: 13px;
  height: 12px;
}

.compare-btn {
  margin-left: auto;
}

.compare-btn::before {
  content: "";
  background-image: url(../images/icons/compare.svg);
  background-size: 100% 100%;
  width: 10px;
  height: 12px;
}

.cart-btn::before {
  content: "";
  background-image: url(../images/icons/cart.svg);
  background-size: 100% 100%;
  width: 16px;
  height: 14px;
}


.anchor-btn {
  text-decoration: none;
}

.address-location__implicit-anchor {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.anchor-link {
  font-style: normal;
  color: inherit;
  font-weight: normal;
}

.doc-footer .anchor-link {
  padding: 10px 0;
}

.btn-toggle-hidden {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid black;
  background: none;
  opacity: 0.3;
  display: inline-flex;
  cursor: pointer;
}

.btn-toggle-hidden::before {
  content: "";
  display: inline-block;
  background-image: url(../images/icons/plus.svg);
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  margin: auto;
}

.line-btn {
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-main);
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
}

.line-btn::before {
  content: "";
  margin: auto;
  position: absolute;
  background-color: var(--bg-accent);
  width: 100%;
  height: 8px;
  z-index: -1;
}

.line-btn:hover::before {
  height: 100%;
}

a.line-btn {
  text-decoration: none;
}

button.line-btn {
  border: none;
}

.transparent-select {
  background-color: transparent;
  border: none;
}

/*lists*/

.mark-list {
  list-style: none;
  padding: 0;
}

.mark-list li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--bg-accent);
  margin-right: 26px;
}

.mark-list__item:not(:last-child) {
  margin-bottom: 19px;
}

.mark-list__item {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 20px;
}

.implicit-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.features-list {
  padding: 0;
  margin: 0;
}

/*notifications*/
.notify {
  --icon-size: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  --message-icon: "#";
  background-color: var(--bg-main-secondary);
  min-height: 100px;
  padding: 30px var(--icon-size);
  font-family: var(--font-heading), sans-serif;
  font-weight: var(--font-weight_main_heading);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  box-sizing: border-box;
}

.notify::before {
  content: "";
  display: block;
  width: var(--icon-size);
  height: 100%;
  background-color: var(--bg-accent);
  background-image: var(--message-icon);
  background-repeat: no-repeat;
  background-position: center;
  align-self: stretch;
  position: absolute;
  left: 0;
  top: 0;
}

.notify__info-message::after {
  --size: 40px;
  content: "";
  background-image: url("../images/icons/info.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: var(--size);
  height: var(--size);
  background-color: rgba(220, 220, 220, 0.5);;
  border-radius: 50%;
  position: absolute;
  right: calc(var(--icon-size) / 2 - var(--size) / 2);
}

/*LANDING PAGE*/
/*promo section*/
/*slider*/
.catalog-slider ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-slider {
  --slide-col-width: 560px;
  position: relative;
  background: linear-gradient(0, var(--bg-accent), var(--bg-accent)) no-repeat 0 0;
  background-size: 100% 114px;
  z-index: 0;
  margin-top: -40px;
}

/*slider-control*/
.catalog-slider__prev-slide,
.catalog-slider__next-slide {
  width: 20px;
  height: 60px;
  background-size: 100% 100%;
}

.catalog-slider__slideshow-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 211px;
  left: 30px;
  width: calc(var(--slide-col-width) - 50px);
}

.slideshow-control__next-slide::before {
  content: url("../images/icons/left-tall-arrow.svg");
}

.slideshow-control__prev-slide::before {
  content: url("../images/icons/right-tall-arrow.svg");
}

.catalog-slider__pagination-list {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 173px;
  right: 0;
}

.pagination-list__point.current {
  background-color: var(--color-main);
}

.pagination-list__point {
  --size: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-main);
  background-color: var(--bg-main);
  width: var(--size);
  height: var(--size);
  padding: 0;
  display: inline-flex;
  cursor: pointer;
}

.pagination-list__item-point {
  line-height: 0;
  height: auto;
  display: inline-block;
}

.pagination-list__item-point:not(:last-child) {
  margin-right: 20px;
  padding: 0;

}

/*slider-slides*/
.slideshow__slide {
  justify-content: space-between;
}

.slideshow__slide:not(.hidden) {
  display: flex;
}

.slide__img {
  object-fit: contain;
  width: var(--slide-col-width);
  height: var(--slide-col-width);
}

.slide__info-column {
  width: var(--slide-col-width);
  padding: 121px 0 38px;
}

.slide__counter {
  display: inline;
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  line-height: 30px;
  color: #FFF;
  position: absolute;
  right: 60px;
  bottom: 80%;
  z-index: -1;
}

.slide__link {
  width: 210px;
}

.seo-info__title {
  font-family: var(--font-heading), sans-serif;
  font-weight: var(--font-weight_main_heading);
  font-style: normal;
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
}

.seo-info__text {
  color: var(--color-secondary);
  margin: 29px 0 51px;
}

.slide__features-list {
  margin-top: 49px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.features-list__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.features-list__item:not(:last-child) {
  margin-right: 20px;
}

.features-list__item-value {
  font-size: 36px;
  line-height: 30px;
  color: var(--color-main);
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: 0;
}

.features-list__item-title {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-secondary);
}

/*promo-categories*/
.category-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  margin: 0;
}

.category-list__anchor {
  --bg: "#";
  display: flex;
  flex-direction: column;
  width: 160px;
  white-space: pre-wrap;
  color: inherit;
  font-family: var(--font-heading), sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-decoration: none;
}

.category-list__anchor::before {
  content: "";
  width: 100%;
  height: 160px;
  background-image: var(--bg);
  background-position: center;
  background-color: var(--bg-accent);
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

/*services section*/
.doc-services {
  background: linear-gradient(0, var(--bg-main), var(--bg-main)) no-repeat 0 0;
  background-size: 100% 100px;
}

/*services tab-list*/
.tabs-list {
  width: var(--width__main-column);
  margin: 0 auto;
  display: flex;
  padding-bottom: 72px;
}

.tabs-list ol {
  list-style: none;
  margin: 0;
}

.tabs-list__switcher::after {
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-main);
}

.tabs-list__switcher {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 65px 7px 65px 0;
}

.tabs-list__switch {
  background: none;
  border: none;
  font-size: inherit;
  width: 140px;
}


.tabs-list__switch_current {
  background: var(--color-main);
}

.tabs-list__switch_current .line-btn {
  color: var(--bg-accent);
}

.tabs-list__switch_current .line-btn::before {
  content: none;
}

.tabs-list__item {
  width: 280px;
  min-height: 40px;
  cursor: pointer;
}

.tabs-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.tabs-list__tab-layout {
  padding: 72px 62px 72px 116px;
  flex-grow: 1;
}

.service-summary__title {
  font-family: var(--font-heading), sans-serif;
  font-weight: var(--font-weight_main_heading);
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
  margin: 0 0 35px;
}

.service-summary__text {
  color: var(--color-secondary);
  margin: 0;
}

.service-summary__wrapper {
  max-width: 452px;
}

.service-summary:not(.hidden) {
  --bg: "#";
  display: flex;
}

.service-summary::after {
  content: var(--bg);
  display: inline-block;
}

/*about-us section*/
.doc__about-us .notify {
  margin-bottom: 70px;
}

.doc__about-us__wrapper {
  width: var(--width__main-column);
  margin: 0 auto;
}

.doc__about-us {
  background: var(--bg-main);
  padding: 70px 0;
}

.columns-layout {
  display: flex;
  justify-content: space-between;
}

.columns-layout__col {
  color: var(--color-secondary);
  width: 520px;
}

.columns-layout__col::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: var(--color-main);
}

.columns-layout__col-heading,
.columns-layout__col .mark-list__item {
  color: var(--color-main);
}

.contacts-list .anchor-link,
.contacts-list .address-location__implicit-anchor {
  color: inherit;
}

.columns-layout__col-heading {
  font-weight: var(--font-weight_main_heading);
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
  font-family: var(--font-heading), sans-serif;
  margin: 40px 0 48px;
}

.columns-layout__col-content .line-btn {
  min-width: 270px;
}

.columns-layout__col-content > *:not(:last-child) {
  margin-top: 0;
  margin-bottom: 30px;
}

.columns-layout__col-row .columns-layout__col-subheading,
.columns-layout__col-content .columns-layout__col-subheading {
  margin-bottom: 15px;
}

.columns-layout__col section:not(:last-child) {
  margin-bottom: 30px;
}

.columns-layout__col-subheading {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.work-hours__list {
  font-style: normal;
}

/*subscribe-form*/
.doc-subscribe {
  width: var(--width__main-column);
  margin: 0 auto;
  padding: 64px 0 56px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.subscribe-form__row {
  display: flex;
  justify-content: space-between;
}

.subscribe-form__input-group {
  width: 810px;
  display: flex;
}

.subscribe-form__title {
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
  font-weight: var(--font-weight_main_heading);
  font-family: var(--font-heading), sans-serif;
  margin: 0;
  max-width: 346px;
}

.subscribe-form__par {
  margin: 0;
  color: var(--color-secondary);
  max-width: 529px;
}

.subscribe-form__input-wrapper {
  flex-grow: 1;
}

.subscribe-form__input,
.subscribe-form__input::placeholder {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--color-secondary);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.subscribe-form__submit {
  font-family: var(--font-heading), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  min-height: 57px;
  box-sizing: border-box;
}

.feature-item {
  color: var(--color-secondary);
  margin: 0;
  align-self: center;
}

.feature-item::before {
  content: url("../images/icons/tick-big.svg");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 16px;
}

/*CATALOG PAGE*/
/*breadcrumbs*/
.breadcrumbs {
  background: var(--bg-main);
  padding: 30px 60px;
}

.breadcrumbs__header {
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
  font-weight: var(--font-weight_main_heading);
  font-style: var(--font-heading);
}

.breadcrumbs__list {
  margin: 16px 0 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.breadcrumbs__list-item:not(:last-child) {
  margin-right: 16px;
}

.breadcrumbs__anchor {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__list-item:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  background-image: url("../images/icons/nav-arrow.svg");
  background-size: cover;
  margin-right: 16px;
}

.catalog__wrapper {
  width: var(--width__main-column);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-rows: 70px auto;
}

.catalog-col__wrapper {
  width: 840px;
}

.catalog-filter {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-self: start;
}

.catalog-sort__form {
  display: flex;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.catalog-listing__wrapper {
  background-color: var(--bg-main);
  padding: 70px 40px 80px;
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

/*catalog filter*/
.catalog-sort__heading,
.catalog-filter__heading {
  font-family: var(--font-heading), sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter__prop-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter__prop-values-list {
  list-style: none;
  padding: 0;
}

.pagination-list {
  margin-top: 40px;
}

/*check-boxes*/
.checkbox__label-text,
.radio-btn__label-text {
  font-size: 16px;
  line-height: 19px;
}

.transparent-select__catalog-sort_prop .transparent-select {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.order-btn-group__item {
  width: 11px;
  height: 10px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.order-btn-group__item-asc {
  background-image: url("../images/icons/arrow2-up.svg");
}

.order-btn-group__item-desc {
  background-image: url("../images/icons/arrow2-down.svg");
}

.catalog-listing {
  list-style: none;
  padding: 0;
  margin: 0 0 45px 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 45px 40px;
}

.catalog-list__item {
  width: 360px;
  display: grid;
  grid-template-columns: 200px 120px;
  grid-template-rows: 380px auto;
  gap: 30px 40px
}

.catalog-list__item-image {
  object-fit: cover;
}

.catalog-list__item-review {
  margin: 0;
  grid-column: 1/-1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 200px 120px;
  grid-template-rows: 380px auto;
  gap: 30px 40px
}

.catalog-list__item-name {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 20px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.catalog-list__item-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  font-weight: 400;
  color: var(--color-secondary);
  grid-column: -1 / -2;
  grid-row: -1 / -2;
  align-self: start;
  justify-self: end;
}

.catalog-list__item-price::after {
  content: '\20BD';
}

.show-more-btn {
  width: 100%;
}

.transparent-select__option,
.transparent-select {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/*pagination*/
.outline-btn {
  font-family: var(--font-heading), sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: var(--bg-main);
  border: 3px solid var(--ui1-gray);
  padding: 18px;
  cursor: pointer;
}

.catalog-pagination-list {
  background-color: var(--bg-main-secondary-pale);
  list-style: none;
  padding: 0;
  margin: 45px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog-pagination-list__item:last-child {
  margin-left: auto;
}

.catalog-pagination-list__item:first-child {
  margin-right: auto;
}

.catalog-pagination-list__link_next,
.catalog-pagination-list__link_prev {
  font-family: var(--font-heading), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding: 25px;
  display: inline-block;
}

.catalog-pagination-list__item {
  display: inline-block;
  align-self: center;
}

.catalog-pagination-list__link {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-secondary);
  text-decoration: none;
  display: inline-block;
  padding: 10px 17px;
}

