/*promo section*/
/*slider*/
.catalog-slider ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-slider {
  position: relative;
  background: linear-gradient(0, var(--bg-accent), var(--bg-accent)) no-repeat 0 0;
  background-size: 100% 114px;

}

/*slider-control*/
.catalog-slider__prev-slide,
.catalog-slider__next-slide {
  width: 20px;
  height: 60px;
  background-size: 100% 100%;
}

.catalog-slider__slideshow-control {
  position: absolute;
  top: 0;
  left: 0;
}

.slideshow-control__next-slide::before {
  content: url("../images/icons/left-tall-arrow.svg");
}

.slideshow-control__prev-slide::before {
  content: url("../images/icons/right-tall-arrow.svg");
}

.catalog-slider__pagination-list {
  position: absolute;
  top: 0;
  left: 0;
}

.pagination-list__point.current {
  background-color: var(--color-main);
}

.pagination-list__point {
  border: 2px solid var(--color-main);
  background-color: var(--bg-main);
}

/*slider-slides*/
.slide__counter {
  display: inline;
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  line-height: 30px;
  color: #FFF;
  position: absolute;
}

.seo-info__title {
  font-family: var(--font-heading);
  font-weight: var(--font-weight_main_heading);
  font-style: normal;
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
}

.seo-info__text {
  color: var(--color-secondary);
}


.features-list__item-value {
  font-size: 36px;
  line-height: 30px;
  color: var(--color-main)
}

.features-list__item-title {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-secondary);
}

/*promo-categories*/
.category-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.category-list__anchor {
  --bg: "#";
  display: flex;
  flex-direction: column;
  width: 160px;
  white-space: pre-wrap;
  color: inherit;
  font-family: var(--font-heading);
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-decoration: none;
}

.category-list__anchor::before {
  content: "";
  width: 100%;
  height: 160px;
  background-image: var(--bg);
  background-position: center;
  background-color: var(--bg-accent);
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

/*services section*/
/*services tab-list*/
.tabs-list ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-list__switch {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
}

.tabs-list__switch.tabs-list__switch_current::before {
  content: none
}

.tabs-list__switch.tabs-list__switch_current {
  background: var(--color-main);
  color: var(--bg-accent);
}

.service-summary__title {
  font-family: var(--font-heading);
  font-weight: var(--font-weight_main_heading);
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
}

.service-summary__text {
  color: var(--color-secondary);
}

.service-summary {
  --bg: "#";
}

.service-summary::before {
  content: var(--bg);
  z-index: -1;
  top: 0;
  display: inline-block;
}

/*about-us section*/
.columns-layout__col {
  color: var(--color-secondary);
}

.columns-layout__col::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: var(--color-main);
}

.columns-layout__col-heading,
.columns-layout__col .mark-list__item {
  color: var(--color-main);
}

.columns-layout__col address a {
  color: inherit;
}

.columns-layout__col-heading {
  font-weight: var(--font-weight_main_heading);
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
  font-family: var(--font-heading);
}

.columns-layout__col-subheading {
  font-size: 24px;
  font-weight: 700;
}

.work-hours__list {
  font-style: normal;
}

/*subscribe-form*/
.subscribe-form__title {
  font-size: var(--font-size_main_heading);
  line-height: var(--line-height_main_heading);
  font-weight: var(--font-weight_main_heading);
  font-family: var(--font-heading);
}

.subscribe-form__par {
  color: var(--color-secondary)
}

.subscribe-form__input,
.subscribe-form__input::placeholder {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--color-secondary)
}

.subscribe-form__submit {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.feature-item {
  color: var(--color-secondary);
  margin: 0;
}

.feature-item::before {
  content: url("../images/icons/tick-big.svg");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 16.5px;
}

